:root {
    --mainColor: #141E30;
    --colorLetras: #02AAB0;
    --color1: #0F2027;
    --color2: #203A43;
    --color3: #2C5364;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color3));
    padding: 5px;
    height: auto;
    width: 100vw;
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

nav {
    top: 0;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.25);
    display: flex !important;
    width: 100vw;
    z-index: 10;
}

nav .hamburguesa {
    display: none
}

nav .enlaces {
    height: 50px;
    width: 500px;
    margin-right: 20px;
    display: flex;
    justify-content: end;
    align-items: center;

}

nav .enlaces a {
    height: 25px;
    color: white;
    width: 100px;
    text-align: center;
    margin: 3px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .enlaces a:hover {
    border-bottom: 2px solid gray;
}

nav .enlaces a:focus {
    border-bottom: 2px solid var(--colorLetras);
    color: var(--colorLetras);
}

nav .enlaces .linkActivo {
    color: var(--colorLetras);
    border-bottom: 2px solid var(--colorLetras);
}

nav .titulo {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-left: 10px;
}

nav .titulo img {
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 35px 5px rgba(65, 236, 255, 0.307), 0px 0px 10px 5px rgba(255, 65, 189, 0.251);
}

.seccion {
    /* background: #16242a; */
    margin: 5px;
    height: 90vh;
}



/*
SECCION DE INICIO
*** PARTE DE LETRAS

*/

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 98vh;
}


.main {
    align-self: center;
    display: grid;
    justify-content: center;
    align-content: stretch;
    height: auto;

}

.main h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
    font-size: 4rem;
    padding: 0px 0px 0px 10px;
}

.main h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
    font-size: 2.5rem;
    padding: 0px 0px 0px 10px;
}

.main .dev-d {
    color: gray;
    font-weight: bold;
}

.main .dev-d .rol {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--colorLetras);
    font-size: 2rem;
}

.main .dev-r {
    color: var(--colorLetras)
}

.main p {
    margin: 10px;
    max-width: 600px;
    color: gray;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}

.icons {
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: #0f2027ea;
    margin-bottom: 30px;
}

.icons i {
    background-color: rgba(166, 166, 166, 0.261);
    padding: 5px;
    border-radius: 2px;
    border: none;
    color: #0F2027;
}

.icons i:hover {
    background-color: rgba(166, 166, 166, 0.261);
    padding: 5px;
    border-radius: 2px;
    border: none;
    color:  #02AAB0;
    box-shadow: 0px 0px 20px 5px #0f202782;
}

.contBotones {
    height: 70px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: end;
}

.contBotones button {
    height: 50px;
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 5px;
    transition: all .2s ease-in;
}

.contBotones button:hover {
    box-shadow: 0px 0px 3px 1px var(--colorLetras);
    color: #02AAB0;
    cursor: pointer;
    transition: all .2s ease-in;
}

.contBotones .btn-descargar {
    border: 2px solid rgba(128, 128, 128, 0.5);
    color: gray;
    background-color: transparent;
}

.contBotones .btn-contacto {
    background: var(--color1);
    color: whitesmoke;
    transition: all .2s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.366);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.37);

}

.contBotones .btn-descargar .icon-d {
    font-size: 25px;
}




/* ICNONO DE CUBO CON HTML CSS */

.seccionCubo {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 98vh;
    text-align: center;
    align-items: center;
}

.contLogo {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    background: transparent;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.contLogo .daniel {
    bottom: -5px;
    left: -10px;
    width: 100%;
    max-width: 40vw;
    position: absolute;
    filter: drop-shadow(15px 10px 55px #4a7881) opacity(60%);
    transition: all .3s ease;
}


.contLogo .est-tres {
    filter: drop-shadow(5px 5px 15px #0064806c);
    position: absolute;
    left: 170px;
    width: 300px;
    filter: blur(2px) opacity(10%);
    transition: all .3s ease;
    top: 70px;
}

.contLogo .est-cinco {
    filter: drop-shadow(5px 5px 15px #0064806c);
    position: absolute;
    transform: perspective(150px)  rotateY(-65deg)  rotateZ(15deg) ;
    width: 220px;
    right: -5px;
    bottom: 250px;
    filter: drop-shadow(5px 5px 15px #0c262e6c);
    transition: all .3s ease;
}


.sombra {
    height: 30px;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.384);
    filter: blur(20px);
    position: absolute;
    border-radius: 200px;
    animation: sombra 4s infinite linear alternate;
    z-index: 11;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 100px;
}

.fondoCubo {
    background-color: #8a02b015;
    width: 100%;
    height: 350px;
    position: absolute;
    filter: blur(50px);
    border-radius: 50%;
    justify-self: center;
}

.contenedorCubo {
    display: flex;
    height: 350px;
    width: 350px;
    color: white;
    background: transparent;
    position: relative;
    z-index: 10;

    /*
        justify-content: center;
    align-items: center;
    
    */
}

.cube {
    width: 280px;
    height: 280px;
    position: relative;
    transform-style: preserve-3d;
    background: transparent;
    color: white;
    border-radius: 50%;
    transform: rotateX(0) rotateY(0) rotateZ(0);
    animation: rotate 50s infinite linear alternate;

}

.face {
    width: 450px;
    height: 450px;
    position: absolute;
    opacity: 0.9;
    display: grid;
    border-radius: 50%;
    /* background: crimson; */
}

.front {
    transform: translateZ(150px);
}

.back {
    transform: translateZ(-150px) rotateY(180deg);
}

.left {
    transform: translateX(-150px) rotateY(-90deg);

}

.right {
    transform: translateX(150px) rotateY(90deg);
}

.top {
    transform: translateY(-150px) rotateX(90deg);
}

.bottom {
    transform: translateY(150px) rotateX(-90deg);
}



.light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #141e3071;
    pointer-events: none;
    mix-blend-mode: screen;
    box-shadow: 0 0 10px 10px #141E30;
    display: none;
    filter: blur(50px)
}


/* position icons */

.contenedorCubo i {
    color: rgba(110, 110, 110, 0.301) !important;
    filter: drop-shadow(0 0 0.5rem rgba(106, 76, 206, 0.621));
    filter: drop-shadow(0 0 0.5rem rgba(58, 25, 167, 0.926));
    font-size: 45px;
}

.ii {
    color: var(--colorIconos);
    justify-self: start;
}

.id {
    color: var(--colorIconos);

    justify-self: end;
}

.iai {
    color: var(--colorIconos);
    filter: drop-shadow(0 0 0.5rem rgb(38, 166, 102));
    justify-self: start;
}

.ic {
    color: var(--colorIconos);
    filter: drop-shadow(0 0 0.5rem rgb(38, 166, 102));
    justify-self: end;
}

.iad {
    color: var(--colorIconos);
    filter: drop-shadow(0 0 0.5rem rgb(38, 166, 102));
    justify-self: center;
}


/* SECCION ACERCA DE*/

.acercade {
    border-top: 2px solid rgba(128, 128, 128, 0.519);
    /* background: #0F2027; */
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 't''t'
        'c''h';
}

.title-about {
    justify-self: start;
    color: gray;
    grid-area: t;
}

.titleAbout {
    justify-self: start;
    color: gray;
}

.card {
    border: 3px solid var(--colorLetras);
    border-radius: 35px;
    width: 500px;
    height: 350px;
    justify-self: center;
    position: relative;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 15px 2px #2C5364, 0px 0px 8px 2px black;
    grid-area: c;
    margin-bottom: 50px;
}

.card h2 {
    color: white;
    font-size: 2rem;
    justify-self: center;
}

.card p {
    padding: 10px;
    color: rgb(166, 166, 166);
    width: 350px;
    justify-self: start;
    margin-left: 30px;
    font-size: .9rem;
    text-align: start;
}

.card .contImg {
    border: 5px solid var(--colorLetras);
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color3));
    width: 180px;
    height: 180px;
    top: 100px;
    right: -18%;
    border-radius: 50%;
    overflow: hidden;
    justify-self: center;
    position: absolute;
    display: grid;
    place-items: center;
}

.card .contImg img {
    width: 80%;
    filter: saturate(1.5);
    filter: drop-shadow(0px 0px 12px rgba(55, 128, 145, 0.551));
}

.journey {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    border-top: 2px solid gray;
    color: rgb(175, 175, 175);
}

.journey .estudios {
    padding: 10px;
    display: grid;
}

.journey .estudios .goal {
    background: rgba(198, 198, 198, 0.129);
    padding: 10px;
    border-radius: 12px;
    margin: 3px;
    color: white;
    font-size: .9rem;
}

.journey .experiencia {
    padding: 10px;
    display: grid;
}

.journey .experiencia .thing {
    background: rgba(197, 197, 197, 0.361);
    background: rgba(198, 198, 198, 0.129);
    padding: 10px;
    border-radius: 12px;
    margin: 3px;
    color: white;
    font-size: .9rem;
}

.journey .experiencia .thing .experience-skills {
    display: flex;
    flex-wrap: wrap;
}

.journey .experiencia .thing .experience-skills p {
    padding: 5px;
    background: #02aab06c;
    border-radius: 10px;
    margin: 2px;
}

.journey .experiencia .thing h3,
.journey .estudios .goal h3 {
    color: #02AAB0;
}



/* SECCION DE SKILLS */

.skills2 {
    /* background: crimson; */
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
}

.skills2 h2 {
    grid-column: 1 / 3;
    justify-self: center;
    text-align: center;
}

.skills2 .habs {
    /* background: royalblue; */
    text-align: center;
}

.skills2 .habs h3 {
    color: var(--colorLetras)
}

.skills2 .habs .skill {
    color: rgb(180, 180, 180);
}


/* SECCCION PROYECTOS */

.proyectos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'titulo''container';
    height: auto;
    border-top: 2px solid rgba(128, 128, 128, 0.519);
}

.proyectos h2 {
    grid-area: titulo;
    align-self: center;
}

.proyectos .contProyectos {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: flex-start;
    width: 100%;
    height: auto;
}

.proyect {
    width: 100%;
    margin: 5px;
    border-bottom: 1px solid var(--colorLetras);
    padding: 20px;
    display: grid;
    place-items: center;
    height: auto;
}

.proyect .contImg {
    max-width: 350px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    height: 200px;
}

.proyect .contImg img {
    width: 100%;
    border: 2px solid rgba(128, 128, 128, 0.47);
    border-radius: 12px;
    box-shadow: 0px 0px 15px 5px #7037d24b;
}

.proyect h3 {
    color: var(--colorLetras);
    text-align: center;
}

.proyect p {
    color: rgb(183, 183, 183);
    text-align: center;
    font-size: .8rem;
}

.proyect .experience-skills {
    margin-top: 10PX;
    display: flex;
    flex-wrap: wrap;
    padding: 5PX;
    height: 50px;
    
}

.proyect .experience-skills p {
    padding: 5px;
    background: #02aab06c;
    border-radius: 10px;
    margin: 2px;
}

.descripcion{
    height: 150px;
}

.skills {
    display: none;
}

/*  SECCION DE CONTACTO */

.contacto {
    display: grid;
    place-items: center;
    height: auto;
    padding: 20px;
}

.contacto form {
    background-color: rgba(0, 0, 0, 0.153);
    display: grid;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.366);
}

.contacto form input {
    height: 40px;
    max-width: 350px;
    width: 350px;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.contacto form button {
    margin-top: 10px;
    background: transparent;
    color: whitesmoke;
    transition: all .2s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.366);
    box-shadow: 0px 0px 5px 2px #02aab0b6;
    height: 40px;
    border-radius: 10px;
}

.contacto .message {
    height: 80px;
}

.contacto form button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px var(--colorLetras);
    color: #02AAB0;
    cursor: pointer;
    transition: all .2s ease-in;
    font-size: 1rem;
}

.footer {
    height: auto;
    display: grid;
    text-align: center;
    padding: 10px;
    color: gray;
    border-top: 2px solid rgba(128, 128, 128, 0.539);
}


/* MEDIAS Y KEYFRAMES */

@keyframes rotate {
    0% {
        transform: rotateX(90deg) rotateY(45deg) rotateZ(45deg);
    }

    25% {
        transform: rotateX(45deg) rotateY(180deg) rotateZ(90deg);

    }

    100% {
        transform: rotateX(360deg) rotateY(90deg) rotateZ(180deg);
    }

    75% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);

    }
}

@keyframes pulso {

    80% {
        transform: scale(1.05);
    }

    85% {
        transform: scale(1.25);
    }
}

@keyframes sombra {

    80% {
        transform: scale(1.05);
    }

    85% {
        transform: scale(1.25);
    }
}

/* Para pantallas con un ancho de 1200px o más */
@media (min-width: 1201px) {
    .contLogo .daniel {
        /* background-color: crimson; */
        width: 70vw;
        height: auto;
        transition: all .3s ease;
    }

    .contLogo .est-cinco {
        filter: drop-shadow(5px 5px 15px #0064806c);
        position: absolute;
        transform: perspective(120px)  rotateY(-65deg) translateZ(5px) rotateZ(5deg);
        width: 218px;
        right: 150px;
        bottom: 40%;
        filter: drop-shadow(5px 5px 15px #001b23de) opacity(35%);
        transition: all .3s ease;
    }

    .contLogo .est-uno {
        filter: drop-shadow(5px 5px 15px #0064806c);
        position: absolute;
        width: 200px;
        filter: drop-shadow(5px 5px 15px #0c262e6c) opacity(18%);
        transition: all .3s ease;
        right: 0;
        bottom: -30px;
    }

    .card{
        height: auto;
        font-size: 1rem;
    }

    .cinta{
        margin-top: 20px;
        height: 30px;
        margin: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
        color: #0f2027ea;
        transition:all 60s ease-in;
    }
    
    .cinta i {
        background-color: rgba(166, 166, 166, 0.143);
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        color: #0F2027;
        display: grid;
        place-items: center;
    }
}


/* Para pantallas con un ancho de 1199px a 820px */
@media (min-width: 820px) and (max-width: 1200px) {
    .contLogo .daniel {
        min-width: 50vw;
        height: auto;
        transition: all .3s ease;

    }

    .contLogo .est-cinco {
        filter: drop-shadow(5px 5px 15px #0064806c);
        position: absolute;
        transform: perspective(120px)  rotateY(-65deg) translateZ(8px) rotateZ(12deg);
        width: 200px;
        right: -5px;
        bottom: 240px;
        filter: drop-shadow(5px 5px 15px #0c262e6c) opacity(35%);
        transition: all .3s ease;
    }

    .contLogo .est-uno {
        filter: drop-shadow(5px 5px 15px #0064806c);
        position: absolute;
        width: 200px;
        filter: drop-shadow(5px 5px 15px #0c262e6c) opacity(18%);
        transition: all .3s ease;
        right: 0;
        bottom: -80px;
    }

    .card{
        height: auto;
        font-size: 1rem;
    }

    .cinta{
        margin-top: 20px;
        height: 30px;
        margin: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
        color: #0f2027ea;
        transition:all 60s ease-in;
    }
    
    .cinta i {
        background-color: rgba(166, 166, 166, 0.143);
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        color: #0F2027;
        display: grid;
        place-items: center;
    }
}

/* Para pantallas con un ancho de 819px o menos */
@media (max-width: 819px) {
    .contLogo .daniel {
        width: 50%;
        height: auto;
        transition: all .3s ease;
        filter: opacity(35%);

    }
}